<%= form_with model: @payment, local: true do |form| %>
 
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@payment.errors.count, "error") %> prohibited
        this payment from being saved:
      </h2>
      <ul>
        <% @payment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :Edificio, class: "control-label" %><br>
      <% if current_user and current_user.admin? %>
      <%= form.select :building_id, Building.all.collect{|b| [b.formatted_name, b.id]},{:prompt => 'Seleccionar'}, {class: "form-control"}%>
      <%= form.hidden_field :building_name %>
    <% else %>
      <%= form.text_field :building_id, class: "form-control", value: @payment.building.formatted_name, readonly: true %>
      <%= form.hidden_field :building_id, value: @payment.building.id %>
      <%= form.hidden_field :building_name, value: @payment.building.formatted_name %>
    <% end %>
  </div>

  <div class="form-group">
  <%= form.label :Unidad, class: "control-label" %><br>
  <% if current_user and current_user.admin? %>
    <%= form.text_field :unit, class: "form-control" %>
  <% else %>
    <%= form.text_field :unit, class: "form-control", readonly: true  %>
  <% end %>
  </div>

  <div class="form-group">
      <%= form.label :Fecha, class: "control-label" %><br>
      <%= datepicker(form, :date) %>
  </div>

  <div class="form-group">
    <%= form.label :Monto, class: "control-label" %><br>
    <%= form.text_field :amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Nombre, class: "control-label" %><br>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Comentario, class: "control-label" %><br>
    <%= form.text_area :comments, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit 'Informar', :class => 'btn btn-primary' %>
  </div>

<% end %>

<%= javascript_tag do %>
  //Populate hidden field with data-attribute from select on quote-center page
  $(document).ready(function(){
    $("select#payment_building_id").change(function(){
        var selectedBuilding = $(this).children("option:selected").text();
        $("#payment_building_name").val(selectedBuilding);
    });
});
<% end %>

<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet"/>
<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/css/datepicker.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/js/bootstrap-datepicker.js"></script>