<%= form_with model: @payment, local: true do |form| %>
 
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@payment.errors.count, "error") %> prohibited
        this payment from being saved:
      </h2>
      <ul>
        <% @payment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="form-group">
    <%= form.label :Edificio, class: "control-label" %><br>
    <%= form.select :building_id, Building.all.collect{|b| [b.formatted_name, b.id]},{}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :Unidad, class: "control-label" %><br>
    <%= form.text_field :unit, class: "form-control" %>
  </div>

  <div class="form-group">
      <%= form.label :Fecha, class: "control-label" %><br>
      <%= datepicker(form, :date) %>
  </div>

  <div class="form-group">
    <%= form.label :Nombre, class: "control-label" %><br>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Monto, class: "control-label" %><br>
    <%= form.text_field :amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Comentario, class: "control-label" %><br>
    <%= form.text_area :comments, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit 'Informar', :class => 'btn btn-primary' %>
  </div>
  
<% end %>

<script> </script>