<div class='container'>
    <div class='row'>
        <div class='col-md-4'>
            <img src="/images/logo.png" height="134px" width="230px" />
        </div>
        <div class='col-md-8 align-bottom'>
        <div class="col-xs-12" style="height:25px;"></div>
        <% if current_user.admin? %>
            <%= link_to 'Pagos', payments_url, { :class=>"btn btn-light" } %>
        <% end %>
        <%= link_to 'Agregar Pago', new_payment_url, { :class=>"btn btn-light" } %>
        <%= link_to "Salir", destroy_user_session_path, {:method => :delete, :class=>"btn btn-light"} %>
        <div class="col-xs-12" style="height:50px;">
        </div>
        <h3>Comprobante de Informe de Pago</h3>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6 offset-md-3'>
            <p>
            <strong>Código de Informe de Pago:</strong>
            <%= @payment.id %>
            </p>

            <p>
            <strong>Edificio:</strong>
            <%= @payment.building.formatted_name %>
            </p>

            <p>
            <strong>Unidad:</strong>
            <%= @payment.unit %>
            </p>

            <p>
            <strong>Fecha:</strong>
            <%= @payment.date %>
            </p>

            <p>
            <strong>Nombre:</strong>
            <%= @payment.name %>
            </p>

            <p>
            <strong>Monto:</strong>
            <%= @payment.amount %>
            </p>

            <p>
            <strong>Comentarios:</strong>
            <%= @payment.comments %>
            </p>
            <% if current_user.admin? %>
                <%= link_to 'Editar', edit_payment_path(@payment), { :class=>"btn btn-primary" } %>
            <% end %>
        </div>
    </div>
</div>